<h2>Size: {{size}}</h2>
<h2>Creature-type: {{creature-type}}</h2>
<h2>Alignment: {{alignment}}</h2>
<h2>Creature-type: {{creature-type}}</h2>
<h2>AC: {{ac}}</h2>
<h2>Hit-points: {{hit-points}}</h2>
<h2>Speed: {{speed}}</h2>
{{#each ability-scores}}
<h2>Ability-scores: {{this}}</h2>
{{/each}}
<h2>Proficiency-bonus: {{proficiency-bonus}}</h2>
<h2>Saving-throws: {{saving-throws}}</h2>
<h2>Proficiencies: {{proficiencies}}</h2>
<h2>Resistances: {{resistances}}</h2>
<h2>Immunities: {{immunities}}</h2>
<h2>Condition-immunities: {{condition-immunities}}</h2>
<h2>Vulnerabilities:{{vulnerabilities}}</h2>
<h2>Senses:{{senses}}</h2>
<h2>Languages:{{languages}}</h2>

<h2>CR:{{cr}}</h2>

{{#each passives}}
<h2>Passives: {{this.name}}</h2>
{{/each}}

{{#each actions}}
<h2>Actions: {{this.name}}</h2>
{{/each}}

{{#each bonus-actions}}
<h2>Bonus-actions: {{this.name}}</h2>
{{/each}}

{{#each reactions}}
<h2>Reactions: {{this.name}}</h2>
{{/each}}



