<h2>{{size}} {{creature-type}}, {{alignment}}</h2>
<h2>AC: {{ac}}</h2>
<h2>Hit Points: {{hit-points}}</h2>
<h2>Speed: {{speed}}</h2>
<h2>STR: {{ability-scores.[0]}} DEX: {{ability-scores.[1]}} CON: {{ability-scores.[2]}}</h2>
<h2>INT: {{ability-scores.[3]}} WIS: {{ability-scores.[4]}} CHA: {{ability-scores.[5]}}</h2>
<h2>Proficiency Bonus: {{proficiency-bonus}}</h2>
<h2>Saving Throws: {{saving-throws}}</h2>
<h2>Proficiencies: {{proficiencies}}</h2>
<h2>Resistances: {{resistances}}</h2>
<h2>Immunities: {{immunities}}</h2>
<h2>Condition Immunities: {{condition-immunities}}</h2>
<h2>Vulnerabilities: {{vulnerabilities}}</h2>
<h2>Senses: {{senses}}</h2>
<h2>Languages: {{languages}}</h2>
<h2>CR: {{cr}}</h2>