<div class = "title-content">
    <h1>Passives</h1>
</div>

{{#each passives}}
    <div class = "content">
        <h2>{{this.name}}</h2>
        <p>{{this.effect}}</p>
    </div>
{{/each}}

<div class = "title-content">
    <h1>Actions</h1>
</div>

{{#each actions}}
    <div class = "content">
        <h2>{{this.name}}</h2>
        <p>{{this.effect}}</p>
    </div>
{{/each}}

<div class = "title-content">
    <h1>Bonus Actions</h1>
</div>

{{#each bonus-actions}}
    <div class = "content">
        <h2>{{this.name}}</h2>
        <p>{{this.effect}}</p>
    </div>
{{/each}}

<div class = "title-content">
    <h1>Reactions</h1>
</div>

{{#each reactions}}
    <div class = "content">
        <h2>{{this.name}}</h2>
        <p>{{this.effect}}</p>
    </div>
{{/each}}